<div class="user-management-form">
  <h3 class="user-management-title">Add user</h3>
  <form id="user-management-form">
    <label for="login">Login:</label>
    <input type="text" class="input" name="login" id="login" placeholder="Логин" required>
    <label for="password">Password:</label>
    <input type="password" class="input" name="password" id="password" placeholder="Пароль" required>
    <button type="submit" class="btn add-user">+ Add user</button>
  </form>
</div>
<div class="user-management-list">
  <h3 class="user-management-title">List of users</h3>
  <div class="user-list"></div>
</div>