<div class="kanban-column">
    <div class="kanban-title">Ready</div>
    <div class="kanban-body kanban-ready"></div>
    <input type="text" class="input d-none" placeholder="Задача">
    <button class="btn btn-kanban btn-add btn-outline-dark btn-ready" type="button">+ Add card</button>
    <button class="btn btn-kanban btn-submit btn-outline-dark btn-ready d-none" type="submit">Submit</button>
</div>
<div class="kanban-column">
    <div class="kanban-title">In Progress</div>
    <div class="kanban-body kanban-progress"></div>
    <select class="dropdown-progress d-none"></select>
    <button class="btn btn-kanban btn-outline-dark btn-progress" type="button">+ Add card</button>
</div>
<div class="kanban-column">
    <div class="kanban-title">Finished</div>
    <div class="kanban-body kanban-finished"></div>
    <select class="dropdown-finished d-none"></select>
    <button class="btn btn-kanban btn-outline-dark btn-finished" type="button">+ Add card</button>
</div>